@import './consts'

.BackgroundForm
  width: 25%
  height: 30%
  background-color: #fff
  border: 3px solid $formBackground
  border-radius: 8px
  margin-top: 95px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: black
  @media (max-width: 3840px)
    width: 90%
    height: 50%
    max-width: 500px
  @media (max-height: 750px)
    height: 60%
    max-height: 300px
    margin-top: 20px
