@import './consts'
@keyframe backgroundChange
  from {background-color: #121212}
  to {background-color: #BB86FC}

.BackgroundForm
  width: 709px
  height: 467px
  background-color: #fff
  border: 3px solid $formBackground
  border-radius: 94px
  margin-top: 95px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  color: black
  transition: background-color 10s easy-in-out
