.Footer

  width: 100vw
  height: 40px
  background-color: #fff
  color: #121212
  font-family: Roboto, sans-serif
  position: fixed
  bottom: 0px
  display: flex
  align-items: center

  label
    position: fixed
    right: 10px
    letter-spacing: 5px
    padding: 5px
    font-weight: 200
    font-size: 0.9rem
    text-align: center
