.LoginForm
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  width: 70%
  @media (max-width: 3840px)
    width: 70%
    height: 60%
  @media (max-height: 650px)
    height: 60%
    justify-content: center
  label
    font-family: Ubuntu,sans-serif
    font-size: 1.0rem
    letter-spacing: 0.29em
    line-height: 41px
    text-align: center
    font-weight: 400
    margin-bottom: 10px
    @media (max-height: 750px)
      margin-bottom: 5px
      font-size: 1rem
      line-height: 10px

  input
    margin-bottom: 10px
    width: 80%
    height: 30px
    border: 2px solid #121212
    border-radius: 40px
    text-align: center
    font-size: 0.8rem
    @media (max-width: 3840px)
      width: 80%
    @media (max-height: 750px)
      margin-bottom: 1px
      height: 15px
      width: 70%
      font-size: 0.5rem
  input:focus
    outline: none
  button
    background: #121212
    border: 2px solid #BB86FC
    border-radius: 16px
    width: 50%
    height: 20%
    font-size: 1.0rem
    font-family: Ubuntu, sans-serif
    line-height: 41px
    margin-top: 20px
    color: #fff
    text-align: center
    @media (max-width: 300px)
      font-size: 0.9rem
    @media (max-height: 750px)
      margin-top: 7px
      font-size: 0.7rem
      width: 60%
      display: flex
      align-itens: center
      justify-content: center
      max-height: 20px
      line-height: 10px
  button:focus
    outline: none
    border: none
  button:hover
    opacity: 0.8
